body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #A90432;
    background-color: #C9DFF3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-page {
    max-width: 120rem;
    margin: 0 auto;
}

/* Links */

.projects-wrapper .project a:hover {
    transform: scaleX(-1);
    background-color: #C9DFF3;
}
a, a:visited {
    color: #A90432;
}
a:not(.logo):hover, a:not(.logo):active {
    background-color: #A90432;
    color: #C9DFF3;
}

a:focus {
    color: #A90432;
}



/* Home Header */

.home-header {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-header img {
    padding-top: .5rem;
}

.home-header ul {
    position: relative;
    list-style-type: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: right;
}

.home-header ul li {
    margin: 0 .5rem;
}

.home-header ul a {
    display: block;
    width: auto;
    box-shadow: 1px 1px 1px 1px #A90432;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;

    border-radius: 25px;
    padding: 5px;
    margin: -5px;
}

/* Page Header */

.page-header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight{
    font-weight: bolder ;
}

.page-header {
    position: relative;
}

h1 {
    position: absolute;
    margin: 0 auto;
	top: 25%;
	left: 0;
	right: 0;
	font-size: 2.5rem;
    font-weight: 700;
	color: #A90432;
	text-transform: uppercase;
	text-align: center;
}

.about-me {
    position: absolute;
    text-align: center;
    max-width: 425px;
    top: 55%;
    font-size: 1.125rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.page-header img {
    display: block;
    object-fit: cover;
    width: 1920px;
    height: 500px;
    padding: 0;
    margin: 0;
}

.home-header img {
    width: 50px;
    height: 50px;
}

/* Section Project */

/* !!!Horizontal Line- Learned from stackoverflow!!! */
h2 {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}
h2::before, h2::after {
    content: " ";
    flex: 1 1;
    border-bottom: 2px solid #A90432;
    margin: auto 1rem;
}
h1:before {
    margin-right: 10px 
  }
  h1:after {
    margin-left: 10px
  }

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 15rem;
    box-shadow: 1px 3px #A90432;
    background-color: #C9DFF3;
    border-radius: 5%;
    margin: 2rem auto;
}

.project img {
    border-radius: 5%;
}

.project-text {
    padding-bottom: .5rem;
}

.project-type {
    margin: .5rem;
}

.project-name {
    font-size: 1.5rem;
    margin: 0;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}


/* Media */
/* I didnt need to use this */

/* Section Contact */

.section-contact{
    margin: 2rem auto;
    
}

.section-contact p {
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: .5rem;
}

.section-contact a {
    display: block;
    width: 12rem;
    box-shadow: 1px 1px 1px 1px #A90432;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 25px;
    margin: 0 auto;
}



/* type writer effect added!!
copy-paste from https://css-tricks.com/snippets/css/typewriter-effect/ */
/* !!!!!!!!!!!!! */

.section-contact p {
    color: #A90432;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .25em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    1% { border-color: #C9DFF3 }
  }
/* !!!!!!!!!! */



/* Footer */

.site-footer p {
    margin-bottom: 0;
    padding: 1rem 0;
}

footer {
    background-color: #d3d3d3;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    color: #000000;
}