body {
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #A90432;
    background-color: #C9DFF3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}

/* Home Header */

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.home-header ul {
    position: absolute;
    list-style-type: none;
    list-style: none;
    top: 0px;
    right: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    li {
        margin: 0 .5rem;
    }
}

.home-header ul a {
    display: block;
    width: auto;
    color: #A90432;
    box-shadow: 1px 1px 1px 1px #A90432;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;

    border-radius: 25px;
    padding: 5px;
    margin: -5px;
}

/* Page Header */

.highlight{
    font-weight: bolder ;
}

.page-header {
    position: relative;
}

h1 {
    position: absolute;
    margin: 0 auto;
	top: 25%;
	left: 0;
	right: 0;
	/* z-index: 1; */
	/* transform: translateY(-40%); */
	/* margin: 0; */
	font-size: 2.5rem;
    font-weight: 700;
	color: #A90432;
	text-transform: uppercase;
	text-align: center;
}

.about-me {
    position: absolute;
    text-align: center;
    max-width: 425px;
    top: 55%;
    font-size: 1.125rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* margin: 1rem;
    margin-left: 20%;
    margin-right: 20%; */
    /* margin: 1.5rem 5rem; */

}

.page-header img {
    display: block;
    object-fit: cover;
    width: 1900px;
    height: 500px;
    padding: 0;
    margin: 0;
}

.home-header img {
    width: 50px;
    height: 50px;
}

/* Links */

/* Section Project */

/* !!!Horizontal Line- Learned from stackoverflow!!! */
h2 {
    display: flex;
    flex-direction: row;
}
h2::before, h2::after {
    content: " ";
    flex: 1 1;
    border-bottom: 2px solid #A90432;
    margin: auto 1rem;
}
h1:before {
    margin-right: 10px 
  }
  h1:after {
    margin-left: 10px
  }

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px #A90432;
    max-width: 18rem;
    background-color: #C9DFF3;
    border-radius: 20%;
    margin: 1rem;
}

.project img {
    border-radius: 20%;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: .5rem;
    margin-right: .5rem;
    /* gap: 1rem; */
}

/* Media */
@media (min-width: 426px) {
    .about-me {
        
    }
}

/* Section Contact */
.section-contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-contact a {
    display: block;
    width: 10rem;
    color: #A90432;
    box-shadow: 1px 1px 1px 1px #A90432;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;

    border-radius: 25px;
    margin: auto;
}

.section-contact p {
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .5rem;
}


/* type writer effect added!!
copy-paste from https://css-tricks.com/snippets/css/typewriter-effect/ */
/* !!!!!!!!!!!!! */

.section-contact p {
    color: #A90432;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
/* !!!!!!!!!! */



/* Footer */

footer {
    background-color: #d3d3d3;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 2px;
    color: #000000;
    
    
}